<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
	<script type="text/javascript" src="static/main.js"></script>

	<style>
	.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
	}
	</style>
</head>
<body>
<h1>FYB Demo</h1>

<div id="main">
	<textarea rows="4" cols="50" id="fact" placeholder="Please input your text here"></textarea> 
	<div id="control">
		<button type="button" class="button" name="predict" id="predict">predict</button>
	</div>
	<div id="display">
		<p>
			<span id="accusation"></span>
		</p>
		<p>
			<span id="term"></span>
		</p>
	</div>
</div>

</body>
</html>